@import url("https://use.typekit.net/qhy4uik.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
html, body, header, main {
  margin: 0;
  padding: 0;
}

header {
  /*background-image: url('/images/top-img1.jpg');
  background-size: cover;
  min-height: 80vh; */
  align-items: center;
  justify-content: center;
}

.header-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.text-section {
  max-width: 60%;
  flex: 1;
}

.home-page-title {
  margin-bottom: 10px;
  font-weight: 300;
  font-family: "montecatini-pro-normale", serif;
  font-size: 7em;
  margin-top: 20vh;
}

.home-page-h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
}

.book-button {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #14564B;
  color: white;
  border-radius: 5px;
  transition: background-color 0.8s ease;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}

.book-button:hover {
  background-color: #e785c1;
}

.two-column-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C8E4D4;
  color: #000000;
  min-height: 60vh;
}

.left-column {
  padding: 20px;
}

.left-column img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.right-column {
  padding: 20px;
  max-width: 60%;
}

h2 {
  margin-bottom: 10px;
  font-family: "montecatini-pro-normale", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
}

p {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

.content-button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #14564B;
  color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.content-button:hover {
  background-color: #e785c1;
}

.card-section {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px;
  background-color: #14564B;
}

.card {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: translate(0, 5px);
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: "montecatini-pro-normale", serif;
  font-weight: 300;
  font-size: 2em;
  color: #C8E4D4;
}

.card p {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  color: #C8E4D4;
}

@media screen and (max-width: 768px) {
  .card-section {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
}
.book-room-section {
  position: relative;
}

.book-header {
  background-image: url("../images/room2.png");
  background-size: cover;
  height: 300px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-title {
  color: white;
  font-size: 3em;
  font-weight: 100;
  font-family: "montecatini-pro-normale", serif;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #C8E4D4;
  padding: 20px;
}

.booking-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.minor-heading {
  font-family: "montecatini-pro-normale", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  color: black;
}

.images-column {
  display: flex;
  flex-direction: row;
  max-width: 70%;
  transition: transform 0.3s ease;
  margin-top: 10px;
}

.images-column:hover img {
  transform: translate(0, 5px);
}

/* Form Styling */
.book-page-title {
  color: white;
  font-size: 6em;
  font-family: "montecatini-pro-normale", serif;
  font-weight: 300;
}

.content {
  display: flex;
  background-color: #C8E4D4;
  padding: 20px;
}

.text-column {
  flex: 1;
  padding-right: 20px;
}

.images-column {
  display: flex;
  flex-direction: row;
}

.images-column img {
  max-width: 100%;
  margin-bottom: 20px;
}

.booking-form {
  background-color: #3d6f5f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto;
}

.Form-title {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-family: "montecatini-pro-normale", serif;
  font-weight: 300px;
  font-size: 2em;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

input[type=date],
input[type=text],
input[type=submit],
select {
  width: calc(100% - 12px);
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-family: "Montserrat", sans-serif;
}

input[type=submit] {
  background-color: #adecbb;
  color: #3d6f5f;
  cursor: pointer;
  font-family: "montecatini-pro-normale", serif;
  width: auto;
}

input[type=submit]:hover {
  background-color: #e785c1;
}

/* Media query */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .minor-heading {
    display: none;
  }
  .images-column {
    display: none;
  }
  .booking-column {
    width: 80%;
    margin-right: 50px;
  }
}
.name-footer {
  background-color: #1d1d1d;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: "montecatini-pro-normale", serif;
}

.footer-text {
  font-size: 1em;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover img {
  color: #14564B;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1d;
  padding: 20px 20px;
}

.nav-bar a {
  display: inline-block;
  text-decoration: none;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-right: 10px;
}

.brandname {
  color: white;
  font-family: "montecatini-pro-normale", serif;
  display: inline-block;
}

.brandname a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "montecatini-pro-normale", serif;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.brandname a:hover {
  color: #adecbb;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.book-link,
a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "montecatini-pro-normale", serif;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  margin-right: 20px;
}

.book-link a:hover {
  color: #adecbb;
}/*# sourceMappingURL=index.css.map */